<div class="home-container">
  <h1>Veja nossos times</h1>
  <div class="search-container">
    <form>
      <fa-icon [icon]="faSearch"></fa-icon>
      <input
        type="text"
        placeholder="Ou busque por um time..."
        (input)="search($event)"
      />
    </form>
  </div>
  <div *ngIf="teams.length > 0; else noTeams" class="test-cont">
    <div class="teams-container">
      <div class="team" *ngFor="let team of teams">
        <img
          src="{{ baseApiUrl }}uploads/{{ team.image }}"
          alt="{{ team.title }}"
        />
        <h3>{{ team.title }}</h3>
        <p class="date">Cadastrado em {{ team.created_at }}</p>
        <p>Jogadores: {{ team.players!.length }}</p>
        <p><a routerLink="teams/{{ team.id }}">Detalhes</a></p>
      </div>
    </div>
  </div>
  <ng-template #noTeams>
    <h1>Não há times cadastrados!</h1>
  </ng-template>
</div>
